.btn-create {
    margin-right: 1rem !important;
    color: #fff !important;
    background: #b71c1c !important;
}
.gg-logout {
    box-shadow: none !important;
    color: inherit  !important;
    font-size: 1rem !important;
    background: inherit !important;
}